
resume = true
cache  = 'deep'

nextflow.enable.dsl = 1

params.cactus_dir          = "${HOME}/workspace/cactus"
params.references_dir      = "${params.cactus_dir}/references"
params.bin_dir             = "${params.cactus_dir}/scripts/create_references/bin"
// params.annotationhub_cache = "${params.references_dir}/util/annotationhub_cache"

includeConfig "${HOME}/.cactus.config"
includeConfig "${params.cactus_dir}/conf/containers.config"
includeConfig "conf/containers.config"

