
resume = true
cache  = 'deep'

nextflow.enable.dsl = 1

params.cactus_dir     = "${HOME}/workspace/cactus"
params.references_dir = "${params.cactus_dir}/references"
// params.script_dir     = "${params.cactus_dir}"
// params.bin_dir        = "${params.script_dir}/bin"
params.bin_dir        = "${params.cactus_dir}/scripts/create_references/bin"

// singularity_dir = "${HOME}/workspace/singularity_containers"

// singularity {
//   enabled = true
//   autoMounts = true
//   cacheDir = singularity_dir
//   libraryDir = singularity_dir
//   runOptions = "--containall --cleanenv --home ${PWD} --workdir ${params.cactus_dir}/tmp"
// }

includeConfig "${HOME}/.cactus.config"
includeConfig "${params.cactus_dir}/conf/containers.config"
includeConfig "conf/containers.config"

params.annotationhub_cache = "${params.references_dir}/util/annotationhub_cache"


// params.enable_conda = false


//// report files
import java.text.SimpleDateFormat
def date     = new Date()
sdf          = new SimpleDateFormat("MM-dd-yyyy_HH_mm_ss")
current_date = sdf.format(date)

params.report_dir = "${params.references_dir}/util/report"

timeline {
	enabled = true
	file    = "${params.report_dir}/${current_date}/timeline.html"
}

report {
	enabled = true
	file    = "${params.report_dir}/${current_date}/report.html"
}

dag {
	enabled = true
  file    = "${params.report_dir}/${current_date}/dag.mmd"
}

