
# Ignore
TODOs.plain
.nextflow*
work/
results/
bin/conda_recipes
debug.plain
tmp/
data/
figshare/files_to_upload
figshare/old_files
figshare/reports
references/data
testing/
testing2/
nf_log.txt
docs/examples/pdf/*
docs/examples/xlsx/*
case_study/figures
case_study/running_the_case_study_local.sh
run_test_datasets.sh
notes.plain

/test_datasets/*/*
!/test_datasets/*/parameters
!/test_datasets/*/design
!/test_datasets/creating_the_test_datasets/*
!/test_datasets/running_the_test_datasets.sh

/references
