
# Ignore
TODOs.plain
.nextflow*
work/
results/
bin/conda_recipes
debug.plain
tmp/
data/
figshare/
references/
testing/
nf_log.txt
docs/examples/pdf/*

/test_datasets/*/*
!/test_datasets/*/parameters
!/test_datasets/*/design
