
nextflow.enable.dsl = 1

includeConfig 'conf/version.config'
includeConfig 'conf/reports.config'
includeConfig 'conf/containers.config'
includeConfig "conf/run_base.config"

global_config = "$HOME/.cactus.config"
try {
  includeConfig global_config
} catch (Exception e) {
  println("A .cactus.config file should be present in the users' home directory.")
  System.exit(1)
}

run_config = "${PWD}/conf/run.config"
try {
  includeConfig run_config
} catch (Exception e) {
  println("A run.config file should be present for each run (conf folder).")
  System.exit(1)
}

includeConfig "conf/specie.config"

