
nextflow.enable.dsl = 1

includeConfig "conf/version.config"
includeConfig "conf/reports.config"
includeConfig "conf/ressources.config"
includeConfig "conf/run_base.config"
includeConfig "${HOME}/.cactus.config"
includeConfig "conf/containers.config"
includeConfig "${PWD}/conf/run.config"
includeConfig "conf/specie.config"
includeConfig "conf/data.config"


