
nextflow.enable.dsl=1

params.cactus_version = "15.08.22"


if(new File('~/.cactus.config').isFile())

try {
  includeConfig '~/.cactus.config'
} catch (Exception e) {
  println("You need to add a configuration file (.cactus.config) to your home directory.")
  System.exit(1)
}

includeConfig 'conf/manifest_and_report.config'
includeConfig 'conf/containers.config'
includeConfig "conf/specie.config"
includeConfig "conf/run_base.config"
custom_config = "${PWD}/conf/run.config"
if(new File(custom_config).isFile()) includeConfig custom_config

