
params {
      files {

        /////
        'v4'{
          'worm' {
            references_file      = '38609430'
            references_md5sums   = 'a53c45ee2bf3a89c9d147dc4740f6627'
            test_dataset_file    = '38321788'
            test_dataset_md5sums = 'fba3e0331c142391a9bb8d4e6232482d'
          }
          'fly' {
            references_file      = '38608985'
            references_md5sums   = 'b4e4588a759555d16be7941eb4f78458'
            test_dataset_file    = '38321794'
            test_dataset_md5sums = 'afd9003a4aa17da98c77378be296216d'
          }
          'mouse' {
            references_file      = '38609036'
            references_md5sums   = '22bf959ad2d12d7661d7dea0eb8f2013'
            test_dataset_file    = '38321814'
            test_dataset_md5sums = '120f0a8a69da3dac5cefc52d0c1a9f5c'
          }
          'human' {
            references_file      = '38609084'
            references_md5sums   = 'faf224dbf86ded758235ecc4e21a9f11'
            test_dataset_file    = '38321820'
            test_dataset_md5sums = '20e158bae65b8ee59ba5ff4f0bb10778'
          }
        }
        /////////////////////////////////////////////////////////////
        
        
        /////
        'v3'{
          'worm' {
            references_file      = '38545541'
            references_md5sums   = 'ff0a729cc74fcb981a15980f7ace2229'
            test_dataset_file    = '38321788'
            test_dataset_md5sums = 'fba3e0331c142391a9bb8d4e6232482d'
          }
          'fly' {
            references_file      = '38534613'
            references_md5sums   = '63c6b9694a32ab09c8582c779471d776'
            test_dataset_file    = '38321794'
            test_dataset_md5sums = 'afd9003a4aa17da98c77378be296216d'
          }
          'mouse' {
            references_file      = '38534649'
            references_md5sums   = '4e086ce8ced4d3ac216f1fea1a8cf696'
            test_dataset_file    = '38321814'
            test_dataset_md5sums = '120f0a8a69da3dac5cefc52d0c1a9f5c'
          }
          'human' {
            references_file      = '38534715'
            references_md5sums   = '35c6871061df9b74d8aa3ec60fa0af2f'
            test_dataset_file    = '38321820'
            test_dataset_md5sums = '20e158bae65b8ee59ba5ff4f0bb10778'
          }
        }
        /////////////////////////////////////////////////////////////
        
        
        /////
        'v2'{
          'worm' {
            references_file      = '38321895'
            references_md5sums   = '18854a3073842e2c39a2f7d630158334'
            test_dataset_file    = '38321788'
            test_dataset_md5sums = 'fba3e0331c142391a9bb8d4e6232482d'
          }
          'fly' {
            references_file      = '38320701'
            references_md5sums   = 'f3d3e13d67a8815ee677ec1fa52fae91'
            test_dataset_file    = '38321794'
            test_dataset_md5sums = 'afd9003a4aa17da98c77378be296216d'
          }
          'mouse' {
            references_file      = '38320890'
            references_md5sums   = 'a096529b1a19473d8894c909f8b52a86'
            test_dataset_file    = '38321814'
            test_dataset_md5sums = '120f0a8a69da3dac5cefc52d0c1a9f5c'
          }
          'human' {
            references_file      = '38321787'
            references_md5sums   = '505b52488d07ee77d6479f4f5a388827'
            test_dataset_file    = '38321820'
            test_dataset_md5sums = '20e158bae65b8ee59ba5ff4f0bb10778'
          }
        }
        /////////////////////////////////////////////////////////////
        
    }
}



