
nextflow.enable.dsl = 1
params.cactus_dir   = "${HOME}/.nextflow/assets/jsalignon/cactus"
params.pub_mode     = "link"
resume              = true
cache               = 'deep'

includeConfig "${HOME}/.cactus.config"
includeConfig "${params.cactus_dir}/conf/containers.config"

profiles {
  singularity {
    singularity {
      runOptions        = "--containall --cleanenv --home ${PWD}"
    }
  }
}


params {
    
    references = null
    test_datasets = null
    threads = 1
    files {
        'worm' {
            references_file      = '38321895'
            references_md5sums   = '18854a3073842e2c39a2f7d630158334'
            test_dataset_file    = '38321788'
            test_dataset_md5sums = 'fba3e0331c142391a9bb8d4e6232482d'
        }
        'fly' {
            references_file      = '38320701'
            references_md5sums   = 'f3d3e13d67a8815ee677ec1fa52fae91'
            test_dataset_file    = '38321794'
            test_dataset_md5sums = 'afd9003a4aa17da98c77378be296216d'
        }
        'mouse' {
            references_file      = '38320890'
            references_md5sums   = 'a096529b1a19473d8894c909f8b52a86'
            test_dataset_file    = '38321814'
            test_dataset_md5sums = '120f0a8a69da3dac5cefc52d0c1a9f5c'
        }
        'human' {
            references_file      = '38321787'
            references_md5sums   = '505b52488d07ee77d6479f4f5a388827'
            test_dataset_file    = '38321820'
            test_dataset_md5sums = '20e158bae65b8ee59ba5ff4f0bb10778'
        }
    }
    references_file     = params.files[params.species].references_file
    references_md5sum   = params.files[params.species].references_md5sums
    test_dataset_file   = params.files[params.species].test_dataset_file
    test_dataset_md5sum = params.files[params.species].test_dataset_md5sums
  
  }



