
nextflow.enable.dsl = 1
params.cactus_dir   = "${HOME}/.nextflow/assets/jsalignon/cactus"
params.pub_mode     = "link"
resume              = true
cache               = 'deep'

params {
    references       = null
    test_datasets    = null
    threads          = 1
    figshare_version = 'v4'
}

includeConfig "${params.cactus_dir}/conf/version.config"
includeConfig "${HOME}/.cactus.config"
includeConfig "${params.cactus_dir}/conf/containers.config"
includeConfig "${params.cactus_dir}/scripts/download/files.config"

version = params.figshare_version
species = params.species

params {
  references_file     = params.files[version][species].references_file
  references_md5sum   = params.files[version][species].references_md5sums
  test_dataset_file   = params.files[version][species].test_dataset_file
  test_dataset_md5sum = params.files[version][species].test_dataset_md5sums
}


// overwriting the singularity profile to remove the --cleanenv option
profiles {
  singularity {
    singularity {
      cacheDir          = params.singularity_cache_dir
      libraryDir        = params.singularity_cache_dir
      enabled           = true
      autoMounts        = true
      runOptions        = "--cleanenv --home ${PWD} --workdir /dev/shm"
    }
    params.enable_conda = false
    params.depot_url    = "https://depot.galaxyproject.org/singularity/"
  }

  docker {
    docker.enabled      = true
    singularity.enabled = false
    params.enable_conda = false

    docker.runOptions   = "-u \$(id -u):\$(id -g)"
    params.pub_mode     = 'copy'  
    params.depot_url    = "quay.io/biocontainers"
  }

}
// => this is done to avoid this weird error message:
// "Missing output file(s) `worm` expected by process `download_references (worm)`"

