
depot_galaxy = "https://depot.galaxyproject.org/singularity/"

params.gffread = "${depot_galaxy}/gffread:0.9.9--1"
params.annotationhub = "${depot_galaxy}/bioconductor-annotationhub:3.2.0--r41hdfd78af_0"
params.cvbio = "${depot_galaxy}/cvbio:3.0.0--hdfd78af_1"
params.liftover = "${depot_galaxy}/ucsc-liftover:377--ha8a8165_4"
params.encodeexplorer = "${depot_galaxy}/bioconductor-encodexplorer:2.16.0--r40hdfd78af_1"
