
depot_galaxy = "https://depot.galaxyproject.org/singularity/"

params.gffread = "${depot_galaxy}/gffread:0.9.9--1"
params.annotationhub = "${depot_galaxy}/bioconductor-annotationhub:3.2.0--r41hdfd78af_0"
params.cvbio = "${depot_galaxy}/cvbio:3.0.0--hdfd78af_1"
params.liftover = "${depot_galaxy}/ucsc-liftover:377--ha8a8165_4"
params.encodeexplorer = "${depot_galaxy}/bioconductor-encodexplorer:2.16.0--r40hdfd78af_1"


// mulled

// r-base=4.0.2,seacr=1.3,bedtools=2.29.2
// r-base=4.0.2,seacr=1.3,bedtools=2.30.0
params.bedtools_r = "${depot_galaxy}/mulled-v2-598c4b841933b807bcc4c44d5b73b00be5d2d806:b69f003de183f69e88b9e548afcd44fecd4c8ad7-0"

// if ever needed (smaller, more easily updated containers are better if possible):
// bedtools=2.29.0,bioconductor-biocparallel=1.18.0,bioconductor-deseq2=1.24.0,bioconductor-limma=3.40.2,bioconductor-rhdf5=2.28.0,bioconductor-rtracklayer=1.44.2,bioconductor-tximport=1.12.3,bx-python=0.8.4,fastqc=0.11.7,gatk4=4.1.3.0,gffread=0.11.4,kallisto=0.46.0,kraken2=2.0.8_beta,multiqc=1.7,ngmerge=0.3,numpy=1.17.2,openjdk=8.0.192=h14c3975_1003,pandas=0.25.1,picard=2.19.2,pysam=0.15.4,python=3.6.7,qualimap=2.2.2c,r-argparse=2.0.1,r-data.table=1.12.2,r-dplyr=0.8.3,r-magrittr=1.5,rna-seqc=2.3.4,r-readr=1.3.1,r-stringi=1.4.3,r-xlsx=0.6.1,salmon=1.1.0,sambamba=0.7.0,samtools=1.9,star=2.7.2b,tzcode,ucsc-gtftogenepred=377	bgruening/busybox-bash:0.1	1
params.huge_container = "${depot_galaxy}/mulled-v2-80ff7b912eeaf2cbbd3817e0c578995b127f789c:d0717edaa6a56ed8e655ac68d58a7e2550e2c0cf-0"
