
// WARNING: This file is just an example of how the ~/.cactus.config file should look like. It is not actually used by cactus.

// tower token
tower {
 // accessToken = 'fd3114de75cc045443c804ffa7d7213e1fcf0c85' // KI
  accessToken = '3730e17fdb910dfab1b82c6b8217bdd43898e1f1' // hotmail
  enabled     = false
}

singularity_containers_path = '/home/jersal/workspace/singularity_containers'

//// analysis directories
params.cactus_dir =  "/home/jersal/workspace/cactus"

params {
  //// output
  out_dir     =  "results/${params.cactus_version}"
 pub_mode    = 'link'  
 
 //// allocated ressources 
 memory_picard     = '20G'
  
 nb_threads  = 6
 executor {
   queueSize = 50
   $local { 
      memory  = '80 GB' // total memory used by Nextlow on the server
    }
 }

}
