
//////// Single tool biocontainer containers
params.fastqc = 'quay.io/biocontainers/fastqc:0.11.7--4'
params.picard = 'quay.io/biocontainers/picard:2.26.9--hdfd78af_0'
params.deeptools = 'quay.io/biocontainers/deeptools:3.4.3--py_0'
params.macs2 = 'quay.io/biocontainers/macs2:2.2.7.1--py37hf01694f_1'
params.bioperl = 'quay.io/biocontainers/perl-bioperl-core:1.007002--pl5321hdfd78af_4'
params.bbmap = 'quay.io/biocontainers/bbmap:38.96--h5c4e2a8_1'
params.multiqc = 'quay.io/biocontainers/multiqc:1.9--py_1'
params.diffbind = 'quay.io/biocontainers/bioconductor-diffbind:2.4.8--16'
params.kallisto = 'quay.io/biocontainers/kallisto:0.46.2--h4f7b962_1'
params.rsleuth = 'quay.io/biocontainers/r-sleuth:0.30.0--r351_1'
params.venndiagram = 'quay.io/biocontainers/r-venndiagram:1.6.16--r3.3.2_0'
params.clusterprofiler = 'quay.io/biocontainers/bioconductor-clusterprofiler:3.0.5--r3.3.1_0'
params.homer = 'quay.io/biocontainers/homer:4.9.1--pl5.22.0_5'


//////// Single tool containers from other sources
params.pdftk = 'pdftk/pdftk'


//////// Multi-tools mulled containers
params.bowtie2_samtools = 'quay.io/biocontainers/mulled-v2-c742dccc9d8fabfcff2af0d8d6799dbc711366cf:b6524911af823c7c52518f6c886b86916d062940-0'
// Mulled: bowtie2=2.4.4,samtools=1.13    

params.samtools_bedtools = 'quay.io/biocontainers/mulled-v2-fc325951871d402a00bdf9d0e712a5b81b8e0cb3:38034b9703d6561a40bcaf2f1ec16f8b158fde97-0'
// Mulled: samtools=1.14.0,bedtools=2.30.0,ucsc-facount=377,python=3.8

// need to do myself: pigz_skewer



// containers = "${params.cactusdir}/bin/containers_v2"
containers = "/home/jersal/lluis/atac/bin/containers_v2/"

// params.atropos = "${containers}/atropos:1.1.28--py38h0213d0e_1"
// params.skewer = "${containers}/skewer:0.2.2--hc9558a2_3"
// params.levenshtein = "${containers}/python-levenshtein:0.12.0--py35_1"
// params.pigz = "${containers}/pigz_docker"
// params.multiqc = "${containers}/multiqc:1.9--py_1"
// params.picard = "${containers}/picard:2.23.3--0"
// params.picard = "${containers}/picard:2.26.9--hdfd78af_0"
// params.bbmap = "${containers}/bbmap:38.86--h1296035_0"
// params.deeptools = "${containers}/deeptools:3.4.3--py_0"
// params.macs2 = "${containers}/macs2:2.2.7.1--py37hf01694f_1"
// params.diffbind = "${containers}/bioconductor-diffbind:2.4.8--16"
// params.kallisto = "${containers}/kallisto:0.46.2--h4f7b962_1"
// params.fastqc = "${containers}/fastqc:0.11.7--4"
// params.rsleuth = "${containers}/r-sleuth:0.30.0--r351_1"
// params.homer = "${containers}/homer:4.9.1--pl5.22.0_5"
// params.venndiagram = "${containers}/r-venndiagram:1.6.16--r3.3.2_0"
// params.clusterprofiler = "${containers}/bioconductor-clusterprofiler:3.0.5--r3.3.1_0"

// containers from other sources
// params.pdftk = "${containers}/pdftk_docker.sif"
// params.pigz = "${containers}/pigz_docker"

// homemade containers
params.pigz_skewer =  "${containers}/pigz_skewer.sif"
// params.bowtie2_samtools_bedtools = "${containers}/bowtie2_samtools_bedtools.sif"
params.multiple_R_packages = "${containers}/multiple_R_packages.sif"
// params.samtools17 =  "${containers}/bowtie2_samtools_bedtools.sif"
// params.minideb =  "${containers}/bowtie2_samtools_bedtools.sif"
params.r_openxlsx =  "${containers}/r_openxlsx.sif" // built on top of gibonet/r-cubiesterni-xml:locale by adding procps only. This should be replaced by another container in the future as it is bloated with other programs





// TO DO: add a container with java, picard tools and R

// params.levenshtein = "${containers}/python-levenshtein:0.12.0--py35_1"
// params.ngmerge = "${containers}/ngmerge:0.3--0"
