
// containers = "${params.cactusdir}/bin/containers_v2"
containers = "/home/jersal/lluis/atac/bin/containers_v2/"


//////// Single tool biocontainer containers
params.fastqc = 'quay.io/biocontainers/fastqc:0.11.7--4'
params.picard = 'quay.io/biocontainers/picard:2.26.9--hdfd78af_0'
params.deeptools = 'quay.io/biocontainers/deeptools:3.4.3--py_0'
params.macs2 = 'quay.io/biocontainers/macs2:2.2.7.1--py37hf01694f_1'
params.bioperl = 'quay.io/biocontainers/perl-bioperl-core:1.007002--pl5321hdfd78af_4'
params.bbmap = 'quay.io/biocontainers/bbmap:38.96--h5c4e2a8_0'
params.multiqc = 'quay.io/biocontainers/multiqc:1.9--py_1'
params.diffbind = 'quay.io/biocontainers/bioconductor-diffbind:2.4.8--16'
params.kallisto = 'quay.io/biocontainers/kallisto:0.46.2--h4f7b962_1'
params.rsleuth = 'quay.io/biocontainers/r-sleuth:0.30.0--r351_1'
params.venndiagram = 'quay.io/biocontainers/r-venndiagram:1.6.16--r3.3.2_0'
params.clusterprofiler = 'quay.io/biocontainers/bioconductor-clusterprofiler:3.0.5--r3.3.1_0'
params.homer = 'quay.io/biocontainers/homer:4.9.1--pl5.22.0_5'


//////// Single tool containers from other sources
params.pdftk = 'mnuessler/pdftk'


//////// Multi-tools mulled containers
// Mulled: bowtie2=2.4.4,samtools=1.13    
params.bowtie2_samtools = 'quay.io/biocontainers/mulled-v2-c742dccc9d8fabfcff2af0d8d6799dbc711366cf:b6524911af823c7c52518f6c886b86916d062940-0'

// params.samtools_bedtools = 'quay.io/biocontainers/mulled-v2-fc325951871d402a00bdf9d0e712a5b81b8e0cb3:38034b9703d6561a40bcaf2f1ec16f8b158fde97-0'
// // Mulled: samtools=1.19.0,bedtools=2.29.0
// // doesn't work: I need samtools, bedtools AND perl for the bamToBed_and_atacShift.sh function to work!

// params.samtools_bedtools_perl_bowtie2 = "${containers}/bowtie2_samtools_bedtools.sif"
// // samtools 1.9, bedtools v2.29.2, bowtie2 2.3.5.1 (gcc 7.3.0), perl v5.26.2


// containers that were built specifically for Cactus

// r-base=4.1.3,r-magrittr=2.0.3,r-dplyr=1.0.9,r-purrr=0.3.4,r-ggplot2=3.3.5,r-data.table=1.14.2
params.r_basic = 'quay.io/biocontainers/mulled-v2-b21cd52f0c50bbd777eaed41c0b8228b84cff4bd:b09be1d801d248a5a61257583e629f17052d8181-0'

// samtools=1.15.1,bedtools=2.30.0,perl=5.32.1
params.samtools_bedtools_perl = 'quay.io/biocontainers/mulled-v2-95fc59e28f845da0ff950325f8138eff9cedff14:0bc453d1b98bff9aef79c31f643f6b9f93bc7fbd-0'

// skewer=0.2.2,pigz=2.6
params.skewer_pigz = 'quay.io/biocontainers/mulled-v2-734ede4cc65b3b212388567aac99f6182e023a8f:26fbad413ebdf8aee65d8aa554d52a4f69548508-0'

// r-base=4.1.3,bioconductor-chipseeker=1.30.0,r-magrittr=2.0.3,bioconductor-genomicfeatures=1.46.1,bioconductor-clusterprofiler=4.2.0,bioconductor-annotationdbi=1.56.1,r-purrr=0.3.4,r-ggplot2=3.3.5
params.bioconductor = 'quay.io/biocontainers/mulled-v2-0161037c6d8979d1ff5de7e591f5adfb3ffe38b8:e1ff5a8d5dbc70e1e5e403fb8caf20aa575b132b-0'

// r-base=4.1.3,r-ggplot2=3.3.5,r-magrittr=2.0.3,r-gridextra=2.3,r-rcolorbrewer=1.1_3,r-data.table=1.14.2
params.figures = 'quay.io/biocontainers/mulled-v2-e0e17c59e64598cdb16a01c347c673dd021f778a:0dd10d4b12b50eec83ccd1f7b7740a08f2703bdf-0'

// r-base=4.1.3,bioconductor-diffbind=3.4.11,r-sleuth=0.30.0,r-ggplot2=3.3.5,r-magrittr=2.0.3,r-openxlsx=4.2.5
params.differential_abundance = 'quay.io/biocontainers/mulled-v2-abcadfb509d8692abe35c0bd02689ab7756d85f8:1b35d287a7c9c53a258be40306bdca167e2e078a-0'
// mulled-v2-abcadfb509d8692abe35c0bd02689ab7756d85f8-1b35d287a7c9c53a258be40306bdca167e2e078a-0.sif

// differential_abundance: need to add edgeR!
// differential_abundance: sleuth doesn't work ; from here: https://github.com/pachterlab/sleuth/issues/259, it says the issue is fixed but it is not?? Or maybe the conda package version of r-sleuth is the old that was not working?
// we have version v0.30.0. It is the latest version published in june 2018 (https://github.com/pachterlab/sleuth/tags). The commit fixing this issue is from Decembre 2021. So... what to do...??



// need to do myself: pigz_skewer



// params.atropos = "${containers}/atropos:1.1.28--py38h0213d0e_1"
// params.skewer = "${containers}/skewer:0.2.2--hc9558a2_3"
// params.levenshtein = "${containers}/python-levenshtein:0.12.0--py35_1"
// params.pigz = "${containers}/pigz_docker"
// params.multiqc = "${containers}/multiqc:1.9--py_1"
// params.picard = "${containers}/picard:2.23.3--0"
// params.picard = "${containers}/picard:2.26.9--hdfd78af_0"
// params.bbmap = "${containers}/bbmap:38.86--h1296035_0"
// params.deeptools = "${containers}/deeptools:3.4.3--py_0"
// params.macs2 = "${containers}/macs2:2.2.7.1--py37hf01694f_1"
// params.diffbind = "${containers}/bioconductor-diffbind:2.4.8--16"
// params.kallisto = "${containers}/kallisto:0.46.2--h4f7b962_1"
// params.fastqc = "${containers}/fastqc:0.11.7--4"
// params.rsleuth = "${containers}/r-sleuth:0.30.0--r351_1"
// params.homer = "${containers}/homer:4.9.1--pl5.22.0_5"
// params.venndiagram = "${containers}/r-venndiagram:1.6.16--r3.3.2_0"
// params.clusterprofiler = "${containers}/bioconductor-clusterprofiler:3.0.5--r3.3.1_0"

// containers from other sources
// params.pdftk = "${containers}/pdftk_docker.sif"
// params.pigz = "${containers}/pigz_docker"

// homemade containers
// params.pigz_skewer =  "${containers}/pigz_skewer.sif"
// params.multiple_R_packages = "${containers}/multiple_R_packages.sif"
// // params.samtools17 =  "${containers}/bowtie2_samtools_bedtools.sif"
// // params.minideb =  "${containers}/bowtie2_samtools_bedtools.sif"
// params.r_openxlsx =  "${containers}/r_openxlsx.sif" // built on top of gibonet/r-cubiesterni-xml:locale by adding procps only. This should be replaced by another container in the future as it is bloated with other programs


// params.bowtie2_samtools_bedtools = "${containers}/bowtie2_samtools_bedtools.sif"
// samtools 1.9, bedtools v2.29.2, bowtie2 2.3.5.1 (gcc 7.3.0)



// TO DO: add a container with java, picard tools and R

// params.levenshtein = "${containers}/python-levenshtein:0.12.0--py35_1"
// params.ngmerge = "${containers}/ngmerge:0.3--0"
