
def folder = new File( 'data' )
if( !folder.exists() ) {
  folder.mkdirs()
}

def folder = new File( 'data/${params.specie}' )
if( !folder.exists() ) {
  
}

TOKEN=
FILE=36732768
wget -c https://ndownloader.figshare.com/files/36067514?access_token=4e287b06c2f3565009154114757802d6fb8542c0bb2be041cbd21c7c21cc59c88720d26b3db957bd8072e9d27b947e8fce8bce79e924cd6d649c451b0e629f2d -O worm_data.tar.gz


