

if(params.test_dataset == 'none'){
  params.download_test_datasets = 'false'
}


def m_test_datasets_files = [
   worm: '36773603',
    fly: '36750653',
  mouse: '36773822',
  human: '36751242' 
]

def m_test_datasets_md5sums = [
   worm: '8e40f60f2ea56d9ea89fb5c6d30f256d',
    fly: 'c7f1babaae15c15adaab85b03723845d',
  mouse: '069ae8cf86f371c0cb7734f2859ed761',
  human: 'd9ee77a5fadb75fbf5181be8c53278cc' 
] 

params.download_test_datasets = params.test_dataset == 'none'? false : true

if(params.download_test_datasets){
  params.test_datasets_file = m_test_datasets_files[specie]
  params.test_datasets_md5sum = m_test_datasets_md5sums[specie]
}



def m_data_files = [
   worm: '36732768',
    fly: '36750641',
  mouse: '36750740',
  human: '36779849' 
]

def m_data_md5sums = [
   worm: '02a773854712f931cb3bfd5bccb6d85e',
    fly: 'b764ce163e063ff894f6587250dc3ada',
  mouse: '09bada7f571bb637626b03c5b8137155',
  human: '4d5201c31035be523a6a4353659cb642' 
]

params.download_data = params.test_dataset == 'none'? false : true

if(params.download_data){
  params.data_file = m_data_files[specie]
  params.data_md5sum = m_data_md5sums[specie]
}



// def m_test_datasets = [
//     [specie:"worm",  file: '36773603', md5sum: "8e40f60f2ea56d9ea89fb5c6d30f256d", get_test_datasets: true],
//     [specie:"fly",   file: '36750653', md5sum: "c7f1babaae15c15adaab85b03723845d", get_test_datasets: true],
//     [specie:"mouse", file: '36773822', md5sum: "069ae8cf86f371c0cb7734f2859ed761", get_test_datasets: true],
//     [specie:"human", file: '36751242', md5sum: "d9ee77a5fadb75fbf5181be8c53278cc", get_test_datasets: true]
// ]
// 
// m_test_datasets.find{it.value == "worm"}

// println ${test}


// figshare_path = "https://ndownloader.figshare.com/files"
// 
// def m_data_files = [
//   human: 'hg38', 
//   mouse: 'mm10',
//     fly: 'dm6',
//    worm: '36732768'
// ] 
// 
// def m_md5_sums = [
//   human: 'hg38', 
//   mouse: 'mm10',
//     fly: 'dm6',
//    worm: '02a773854712f931cb3bfd5bccb6d85e'
// ] 
// 
// data_file = m_data_files[specie]
// md5_sum = m_md5_sums[specie]
// 
// data_dir = "${cactus_dir}/data"
// 
// def data_folder = new File( "${cactus_dir}/data" )
// if( !data_folder.exists() ) {
//   data_folder.mkdirs()
// }
// 
// // String cmd ="wget --max-redirect 50 ${figshare_path}/${data_file}?access_token=${figshare_token} -O ${data_dir}/${specie}_data.tar.gz"
// // cmd.execute().text
// 
// // new URL("${figshare_path}/${data_file}?access_token=${figshare_token}").getText()
// 
// def specie_folder = new File( "${data_dir}/${specie}" )
// if( !specie_folder.exists() ) {
// 
//   String cmd ="wget --max-redirect 50 https://ndownloader.figshare.com/files/20186200 -O ${data_dir}/${specie}_data.tar.gz"
//   // String cmd ="wget --max-redirect 50 https://ndownloader.figshare.com/files/36749410 -O ${data_dir}/${specie}_data.tar.gz"
//   cmd.execute().text
// 
//   String cmd ="
//   wget -q -O- https://ndownloader.figshare.com/files/36088543 | tar -xz -C test
//   "
// 
//    -O ${data_dir}/${specie}_data.tar.gz"
//   wget -q -O- "${SRC_URI}" | tar -xz -C "${DESTDIR}"
// 
// 
// }
// 
// // wget -O test.zip https://ndownloader.figshare.com/files/36749410
// 
// // 
// // // def specie_folder = new File( "${data_dir}/${specie}" )
// // 
// // if( !specie_folder.exists() ) {
// //   String cmd ="wget ${figshare_path}/${data_file}?access_token=${figshare_token} -O ${data_dir}/${specie}_data.tar.gz"
// //   // println cmd
// //   // new URL("${figshare_path}/${data_file}?access_token=${figshare_token}").text
// // 
// //   cmd.execute().text
// // 
// // 
// // 
// // }
// 
// // // url = "${figshare_path}"
// // 
// // def redirectFollowingDownload( String url, String filename ) {
// // while( url ) {
// //     new URL( url ).openConnection().with { conn ->
// //       conn.instanceFollowRedirects = false
// //       url = conn.getHeaderField( "Location" )      
// //       if( !url ) {
// //         new File( filename ).withOutputStream { out ->
// //           conn.inputStream.with { inp ->
// //             out << inp
// //             inp.close()
// //           }
// //         }
// //       }
// //     }
// //   }
// // }
// // 
// // redirectFollowingDownload("https://ndownloader.figshare.com/files", "${data_file}?access_token=${figshare_token}")
// 
// // url1 = "https://ndownloader.figshare.com/files"
// // filename1 = "${data_file}?access_token=${figshare_token}"
// // 
// // test = redirectFollowingDownload(url1, filename1)

