

figshare_path = "https://ndownloader.figshare.com/files"

def m_data_files = [
  human: 'hg38', 
  mouse: 'mm10',
    fly: 'dm6',
   worm: '36732768'
] 

def m_md5_sums = [
  human: 'hg38', 
  mouse: 'mm10',
    fly: 'dm6',
   worm: '02a773854712f931cb3bfd5bccb6d85e'
] 

data_file = m_data_files[specie]
md5_sum = m_md5_sums[specie]

data_dir = "${cactus_dir}/data"

def data_folder = new File( "${cactus_dir}/data" )
if( !data_folder.exists() ) {
  data_folder.mkdirs()
}

String cmd ="wget --max-redirect 50 ${figshare_path}/${data_file}?access_token=${figshare_token} -O ${data_dir}/${specie}_data.tar.gz"

// new URL("${figshare_path}/${data_file}?access_token=${figshare_token}").getText()

cmd.execute().text


// 
// // def specie_folder = new File( "${data_dir}/${specie}" )
// 
// if( !specie_folder.exists() ) {
//   String cmd ="wget ${figshare_path}/${data_file}?access_token=${figshare_token} -O ${data_dir}/${specie}_data.tar.gz"
//   // println cmd
//   // new URL("${figshare_path}/${data_file}?access_token=${figshare_token}").text
// 
//   cmd.execute().text
// 
// 
// 
// }

// // url = "${figshare_path}"
// 
// def redirectFollowingDownload( String url, String filename ) {
// while( url ) {
//     new URL( url ).openConnection().with { conn ->
//       conn.instanceFollowRedirects = false
//       url = conn.getHeaderField( "Location" )      
//       if( !url ) {
//         new File( filename ).withOutputStream { out ->
//           conn.inputStream.with { inp ->
//             out << inp
//             inp.close()
//           }
//         }
//       }
//     }
//   }
// }
// 
// redirectFollowingDownload("https://ndownloader.figshare.com/files", "${data_file}?access_token=${figshare_token}")

// url1 = "https://ndownloader.figshare.com/files"
// filename1 = "${data_file}?access_token=${figshare_token}"
// 
// test = redirectFollowingDownload(url1, filename1)

