

params.cactusdir = "/home/jersal/lluis/atac"
params.init_version = "20.09.21"
params.data_path = "${params.cactusdir}/data/${params.init_version}"
params.WBcel235 = "${params.data_path}/genomes/WBcel235"


// Caenorhabditis_elegans
params {
  genomes {
    'WBcel235' {
      bowtie2_indexes_contam = "${params.cactusdir}/tools/op50_genome/bowtie2_op50_indexes"
      bowtie2_indexes = "${params.WBcel235}/sequence/bowtie2_indexes/genome"
      chromosomes_sizes = "${params.WBcel235}/sequence/chromosome_size.txt"
      effective_genome_size = 100286401
      kallisto_transcriptome = "${params.WBcel235}/sequence/transcriptome_kallisto_index"
      txdb = "${params.WBcel235}/annotation/txdb_without_pseudogenes_and_ncRNA.sqlite"
      df_genes_metadata = "${params.WBcel235}/annotation/df_genes_metadata.rds"
      df_genes_transcripts = "${params.WBcel235}/annotation/df_genes_transcripts.rds"
      promoters_df = "${params.WBcel235}/annotation/promoters_df.rds"
      promoters_bed = "${params.WBcel235}/annotation/promoters.bed"
      refgene_ucsc_dir = "${params.WBcel235}/refgene_ucsc/"
      
      blacklisted_regions = "${params.data_path}/blacklisted_regions/ce11_blacklist_v2__Ensembl_named.bed"
      org_db = "${params.data_path}/org_db/org_db_ce.sqlite"
      pwms_motifs = "${params.cactusdir}/tools/software/homer/data/PWMS_matrix/ce11/old_motifs_simpler_names.motif" // the old homer motifs renamed. 2455 motifs
      // pwms_motifs = "${params.cactusdir}/tools/software/homer/data/PWMS_matrix/ce11/hughesCePWMSForHomerLO9.motif" // the old homer motifs. 2455 motifs
      // pwms_motifs = "${params.data_path}/motifs_PWMS/worm/homer_motifs_threshold_50_percent.txt" // the one to use! The C Elegans CisBP motifs. 3444 motifs
      // pwms_motifs = "${params.data_path}/motifs_PWMS/human/homer_motifs_threshold_50_percent.txt" // The human CisBP motifs. 61466 motifs
      // pwms_motifs = "${params.data_path}/motifs_PWMS/worm/homer_motifs_unique_threshold.txt"
      // pwms_motifs = "${params.data_path}/motifs_PWMS/worm/homer_motifs.txt"
      // pwms_motifs = "${params.data_path}/homer_files/motifs/known_modified.motifs" // the homer all species motifs file with adjusted names. 12928 motifs
      
      homer_genome = "${params.data_path}/homer_files/data/genomes/ce11"
      encode_chip = "${params.data_path}/encode_CHIP/ce11"
      chromatin_state = "${params.data_path}/chromatin_states/split/worm_EE_ce11"
      
      // may be needed for the script let's see
      // protein_coding_genes_df = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Annotation/Genes/protein_coding_genes_df.rds"
      // gene_id_to_name_vector = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Annotation/Genes/gene_id_to_name_vector.rds"

    }

    // // // Drosophila_melanogaster
    // 'BDGP6' {
    //   effective_genome_size = 142573017
    // }
    //
    // // Mus_musculus
    // 'GRCm38' {
    //   effective_genome_size = 2652783500
    // }
    //
    // // Homo_sapiens
    // 'GRCh38' {
    //   effective_genome_size = 2913022398
    // }
  }
}

// // parameters that should be included in each genome (to create automatically as much as possible)
// => make the commands now and then make a script to automate all of this!
// params.bowtie2: done
// params.chr_size: done
// params.effective_genome_size: done
// params.transcriptome_indexed: done
// params.txdb: done
// params.conv_tab: done
// params.all_promoters_rds: done
// params.all_promoters_bed: done

// // parameters that can't be automated
// params.blacklisted_regions: done
// params.OrgDb: done
// params.PWMS
// params.homer
// params.homer_TF_ids_tab_rds
// params.chromatin_states







// params {
//   genomes {
//     // Caenorhabditis_elegans
//     'WBcel235' {
//       fasta = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/WholeGenomeFasta/genome.fa"
//       bowtie2 = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/Bowtie2Index/genome"
//       genes_gtf = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Annotation/Genes/genes.gtf"
//       genes_bed = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Annotation/Genes/genes.bed"
//       blacklisted_regions = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Annotation/blacklisted_regions/ce11_blacklist_v2__Ensembl_named.bed"
//       effective_genome_size = 100286401
//     }
//
