
import java.text.SimpleDateFormat
def date     = new Date()
sdf          = new SimpleDateFormat("MM-dd-yyyy_HH_mm_ss")
params.current_date = sdf.format(date)

params.report_dir = "${params.res_dir}/Run_Info/${params.current_date}"

timeline {
	enabled = true
	file    = "${params.report_dir}/timeline.html"
}

report {
	enabled = true
	file    = "${params.report_dir}/report.html"
}

dag {
	enabled = true
  file    = "${params.report_dir}/dag.mmd"
}

params.tower_token  = 'random'
params.enable_tower = false

tower {
  accessToken = params.tower_token
  enabled     = params.enable_tower
}
