
params {
  
  // memory
  memory_picard         = '20G'

  // threads
  pigz__nb_threads      = 6
  botwie2__nb_threads   = 6
  deeptools__nb_threads = 6
  kallisto__nb_threads  = 6
  homer__nb_threads     = 6
  fastqc__nb_threads    = 2

  executor {
   
   queueSize = 100
   
   $local { 
     cpus = 50
     memory  = '80 GB'
   }
  }
}
