
// executor {
// 
//  queueSize = 100
// 
//  $local { 
//    cpus   = 12
//    memory = '40 GB'
//  }
// }

params{
    executor {
    $sge {
        queueSize = 100
        pollInterval = '30sec'
    }

    $local {
        cpus = 8
        memory = '32 GB'
    }
  }
}

params {
  
  // memory
  memory_picard         = '20G'

  // threads
  pigz__nb_threads      = 6
  botwie2__nb_threads   = 6
  deeptools__nb_threads = 6
  kallisto__nb_threads  = 6
  homer__nb_threads     = 6
  fastqc__nb_threads    = 2

}




// params {
// 
//   // memory
//   memory_picard         = '20G'
// 
//   // threads
//   pigz__nb_threads      = 6
//   botwie2__nb_threads   = 6
//   deeptools__nb_threads = 6
//   kallisto__nb_threads  = 6
//   homer__nb_threads     = 6
//   fastqc__nb_threads    = 2
// 
//   executor_local_cpus   = 12
//   executor_local_memory = '40 GB'
// 
//   executor {
// 
//    queueSize = 100
// 
//    $local { 
//      cpus   = params.executor_local_cpus
//      memory = params.executor_local_memory
//    }
//   }
// }
