
params {
	
	///////////////////////////////////////////////////////////////
	////////////// Design files
	
	design__mrna_fastq        = 'design/mrna_fastq.tsv'
	design__atac_fastq        = 'design/atac_fastq.tsv'
	design__comparisons       = 'design/comparisons.tsv'
	design__regions_to_remove = 'design/regions_to_remove.tsv'
	design__groups            = 'design/groups.tsv'
	design__genes_to_remove   = 'design/genes_to_remove.tsv'
	
	
	///////////////////////////////////////////////////////////////
	////////////// Global parameters
	
	
	// //// chosing specie among: worm (WBcel235), fly (BDGP6), mouse (GRCm38), human (GRCh38)
	// specie = "worm"

	//// chosing experiment types among: atac, mRNA or both
	experiment_types = 'both'
	
	//// use a gDNA input control for ATAC-Seq analysis
	use_input_control = false
	
	//// doing or skipping analysis types
	do_saturation_curve       = true
	do_raw_peak_annotation    = true
	do_bigwig                 = true
	
	disable_all_enrichments   = false
	do_gene_set_enrichment    = true
	do_genes_self_enrichment  = true
	do_peaks_self_enrichment  = true
	do_chrom_state_enrichment = true
	do_motif_enrichment       = true
	do_chip_enrichment        = true
	
	//// saving big files or not. Options are: 'none', 'all', or 'last'
	save_fastq_type = 'none'
	save_bam_type   = 'last'
	save_bed_type   = 'last'
	save_1bp_bam    = false // options are false or true for this one
	
	
	
	///////////////////////////////////////////////////////////////
	////////////// Analysis parameters
	
	/////// 1. Preprocessing
	
	
	///// a. ATAC reads
	
	//// alignment quality
	sam_MAPQ_threshold = 30
	
	//// DeepTools 
	deeptools__binsize_bigwig_creation    = 10 // suggested parameters: 10000 for fast analysis
	deeptools__binsize_bigwig_correlation = 10000
	deeptools__nb_of_1_bp_samples         = 10000
	deeptools__normalization_method       = 'None'
	
	//// resampling
	nb_sampled_aligned_reads = 1000000
	nb_sampled_trimmed_reads = 1000000


	///// b. ATAC peaks

	//// calling MACS2 peaks
	macs2__qvalue = '5e-2'

	//// annotating MACS2 peaks
	macs2_peaks__promoter_up      = 1500
	macs2_peaks__promoter_down    = 500
	
	
	///// c. mRNA

	//// removing input control peaks
	input_control_overlap_portion = '0.2'

	//// transcripts quantification
	kallisto__fragment_len  = '180'
	kallisto__fragment_sd   = '20'
	kallisto__bootstrap     = '100'


	/////// 2. Differential abundance

	// calling DiffBind peaks
	diffbind__min_overlap     = 1
	diffbind__min_count       = 0
	diffbind__analysis_method = 'DBA_EDGER'
	diffbind__normalization   = 'DBA_NORM_TMM'
	diffbind__summits         = 75
	
	//// annotating DiffBind peaks
	diffbind_peaks__promoter_up   = 1500
	diffbind_peaks__promoter_down = 500

	//// volcano and MA plots
	diffbind_plots__fdr_threshold = 0.05
	diffbind_plots__top_n_labels  = 15
	sleuth_plots__fdr_threshold   = 0.05
	sleuth_plots__top_n_labels    = 15
	
	//// splitting DA results in subset
	split__threshold_type   = 'FDR'  // options: 'FDR' or 'rank'
	split__threshold_values = [ 1.3 ] // rank cuttoff or -log10 FDR thresholds (here: -log10(0.05) ~= 1.3)
	split__fold_changes     = [ 'up', 'down' ] // For now this argument should not be touched. But an 'all' argument may appear in the future
	split__peak_assignment  = [ 'all', 'prom', 'distNC' ] // this argument can be any of: 'all', '8kb', '3kb', '2u1d', 'TSS', 'genProm', 'genic', 'prom' or 'distNC'

	//// filtering DA results with too few entries
	min_entries_DA_bed        = 2
	
	
	/////// 3. Enrichment
	
	//// overlap with external databases
	func_anno_databases         = ['BP', 'KEGG'] // options: BP, CC, MF, KEGG
	use_nda_as_bg_for_func_anno = 'FALSE'
	simplify_cutoff             = 0.8
	// min_entries_DA_genes_sets = 1
	chip_ontology               = 'all' // options: see the chip_ontology_groups_sizes.txt file
	motifs_test_type            = 'binomial' // options: hypergeometric (any value) or binomial
	enrichment__save_df         = true
	
	//// figures
	barplots__df_plots          = 'data.frame(' +
		'data_type      = c("func_anno", "CHIP" , "motifs", "chrom_states", "genes_self", "peaks_self"),' +
		'padj_threshold = c(     0.05  ,    0.05,    0.05 ,        0.05   ,      0.05   ,       0.05  ),' +
		'signed_padj    = c(     T     ,    T   ,    T    ,        T      ,      T      ,       T     ),' +
		'add_var        = c(    "none" ,  "none",  "none" ,      "none"   ,    "none"   ,     "none"  ),' +
		'add_number     = c(     F     ,    F   ,    F    ,        F      ,      T      ,       T     ),' +
		'max_terms      = c(    30     ,   30   ,   30    ,       30      ,     30      ,      30     ),' +
		'max_characters = c(    50     ,   50   ,   50    ,       50      ,     50      ,      50     )' +
		')'

	heatmaps__seed           = 38
	heatmaps__df_plots       = 'data.frame(' +
		'data_type       = c("func_anno",  "CHIP", "motifs", "chrom_states", "genes_self", "peaks_self"),' +
		'padj_threshold  = c(     0.05  ,   0.05 ,    0.05 ,        0.05   ,      0.05   ,       0.05  ),' +
		'up_down_pattern = c(    "UUDD" ,  "UUDD",  "UUDD" ,      "UUDD"   ,    "UUDD"   ,     "UUDD"  ),' +
		'signed_padj     = c(     T     ,     T  ,    T    ,        T      ,      T      ,       T     ),' +
		'add_var         = c(    "none" ,  "none",  "none" ,      "none"   ,    "none"   ,     "none"  ),' +
		'add_number      = c(     F     ,     F  ,    F    ,        F      ,      T      ,       T     ),' +
		'max_characters  = c(    50     ,    50  ,   50    ,       50      ,     50      ,      50     )' +
		')'
 	heatmaps__df_filter_terms = 'data.frame(' +
									'data_type        = c("func_anno",  "CHIP"   , "motifs"   ),' +
									'n_shared         = c(     6     ,     8     ,    8       ),' +
									'n_unique         = c(    20     ,    25     ,   25       ),' +
									'n_total          = c(    26     ,    40     ,   40       ),' +
									'threshold_type   = c( "fixed"   , "quantile",  "quantile"),' +
									'threshold_value  = c(     0.05  ,     0.25  ,    0.25    ),' +
									'remove_similar   = c(     F     ,     T     ,    T       ),' +
									'remove_similar_n = c(     2     ,     2     ,    2       )' +
									')'
	
	
	//// tables
	tables__save_csv   = false
	tables__save_excel = true
	tables__v_fdr_thresholds = 'c( mRNA_detailed = 1, ATAC_detailed = 1,' +
															  'res_simple = 1, res_filter = 1, func_anno = 1,' +
																'genes_self = 1, peaks_self = 1, ' +
																'chrom_states = 1, CHIP = 1, motifs = 1' +
																')'
	excel__add_conditional_formatting = 'TRUE'
	excel__max_width = 40

}


