
params {
	
	//// chosing specie among: worm (WBcel235), fly (BDGP6), mouse (GRCm38), human (GRCh38)
	specie = "worm"
	
	//// chosing experiment types among: atac, mRNA or both
	experiment_types = 'both'
	
	//// use a gDNA input control for ATAC-Seq analysis
	use_input_control = false
	
	//// doing or skipping analysis types
	do_motif_enrichment         = true
	do_chip_enrichment          = true
	do_saturation_curve         = true
	do_raw_peak_annotation      = true
	do_diffbind_peak_annotation = true
	do_gene_set_enrichment      = true
	do_bigwig                   = true
	do_chromatin_state          = true
	
	// make sure chromatin state analysis is disabled if specie is mouse
	do_chromatin_state = specie == 'mouse' && do_chromatin_state == true ? false : do_chromatin_state
	
	//// saving big files or not. Options are: 'none', 'all', or 'last'
	save_fastq_type = 'none'
	save_bam_type   = 'last'
	save_bed_type   = 'last'
	save_1bp_bam    = false
	
	//// deepTools 
	binsize_bigwig_creation            = 10 // suggested parameters: 10000 for fast analysis
	binsize_bigwig_correlation         = 10000
	nb_1bp_site_to_sample_for_coverage = 10000
	
	//// resampling analysis
	nb_sampled_aligned_reads = 1000000
	nb_sampled_trimmed_reads = 1000000

	//// alignment and duplicates
	sam_MAPQ_threshold = 30

	//// peaks calling
	macs2_qvalue = '5e-2'

	//// removing input control peaks
	input_control_overlap_portion = '0.2'

	//// genes quantification
	fragment_len  = '180'
	fragment_sd   = '20'
	bootstrap     = '100'

	//// promoters annotation
	promoter_up_macs2_peaks      = 3000
	promoter_down_macs2_peaks    = 3000
	promoter_up_diffbind_peaks   = 1500
	promoter_down_diffbind_peaks = 500

	//// volcano and MA plots
	fdr_threshold_diffbind_plots = 0.05
	fdr_threshold_sleuth_plots   = 0.05
	
	//// splitting DA results in subset
	threshold_type_for_splitting_subsets   = 'FDR'  // options: 'FDR' or 'rank'
	threshold_values_for_splitting_subsets = [ 1.3 ] // rank cuttoff or -log10 FDR thresholds (here: -log10(0.05) ~= 1.3)
	fold_changes_for_splitting_subsets     = [ 'up', 'down' ] // For now this argument should not be touched. But an 'all' argument may appear in the future
	peak_assignment_for_splitting_subsets  = [ 'all', 'prom', 'distNC' ] // this argument can be any of: 'all', '8kb', '3kb', '2u1d', 'TSS', 'genProm', 'genic', 'prom' or 'distNC'

	//// filtering DA results with too few entries
	min_entries_DA_bed        = 2
	min_entries_DA_genes_sets = 1
	
	//// functional annotation databases; possible values: BP, CC, MF, KEGG
	params.func_anno_databases = ['BP', 'KEGG']
	params.use_nda_as_bg_for_func_anno = 'F'
	
	// motifs test can be eitheir hypergeometric (default, any value) or binomial
	motifs_test_type = 'binomial'
	
	// CHIP ontology groups; options are available in the file chip_ontology_groups_sizes.txt
	chip_ontology = 'all'
	
	// threshold for saving enrichment results (so 1 allows to save all results)
	fdr_filter_tables =       [  1,    1, 1,     1,             1,            1,          1,              1,    1,             1 ]
	fdr_filter_tables_names = [ 'mRNA_detailed', 'ATAC_detailed', 'res_simple', 'res_filter', 'func_anno', 'genes_self', 'peaks_self', 'chrom_states', 'CHIP', 'motifs' ]
	
	//// heatmaps and barplots
	add_var_to_plot         = 'L2OR' // can be either: 'Log2OddRatios', 'loglog_pvalue' or 'DA_overlap_count'
	threshold_plot_adj_pval = 0.05   // at least one enrichment should have a pvalue lower than that otherwise no plot will be made
	up_down_pattern         = 'UUDD' //  can be either: UDUD (up, down, up, down...) or UUDD (up, up, ..., down, down ...) 
	
	// table output: csv or excel
	// params.tables_output_type = 'excel'
	params.save_tables_as_csv   = false
	params.save_tables_as_excel = true
	// params.save_merged_tables = true
	// params.save_individual_tables = true // => these two parameters should be implemented later
	
	params.excel_add_conditional_formatting = 'T'
	params.excel_max_width = 40

}


