

// m_.*: groovy maps
// https://code-maven.com/groovy-map

/// Effective genome size
// https://test-argparse-readoc.readthedocs.io/en/latest/content/feature/effectiveGenomeSize.html
// https://deeptools.readthedocs.io/en/develop/content/feature/effectiveGenomeSize.html
def m_effective_genome_size = [
  human: '2913022398', 
  mouse: '2652783500',
    fly: '142573017',
   worm: '100286401'
]
// => same as the mappable genome size used by macs2

def m_genome_assembly_nickname = [
  human: 'hg38', 
  mouse: 'mm10',
    fly: 'dm6',
   worm: 'ce11'
]
specie = params.specie
genome_assembly_nickname = m_genome_assembly_nickname[specie]

specie_dir = "${params.cactus_dir}/data/${specie}"
genome_dir = "${specie_dir}/genome/sequence"
anno_dir   = "${specie_dir}/genome/annotation"

params{
  effective_genome_size  = m_effective_genome_size[specie]
  bowtie2_indexes_contam = "${specie_dir}/bowtie2_indexes_conta/genome_contamination"
  
  bowtie2_indexes        = "${genome_dir}/bowtie2_indexes/genome"
  kallisto_transcriptome = "${genome_dir}/transcriptome_kallisto_index"
  
  chromosomes_sizes      = "${anno_dir}/filtered/chromosomes_sizes.txt"
  blacklisted_regions    = "${anno_dir}/blacklisted_regions.bed"
  bed_regions            = "${anno_dir}/bed_regions"
  
  org_db                 = "${anno_dir}/R/orgdb.sqlite"
  txdb                   = "${anno_dir}/R/txdb.sqlite"
  cur_seqinfo            = "${anno_dir}/R/seqinfo.rds"
  df_genes_metadata      = "${anno_dir}/R/df_genes_metadata.rds"
  df_genes_transcripts   = "${anno_dir}/R/df_genes_transcripts.rds"
  promoters_df           = "${anno_dir}/R/promoters_df.rds"
  kegg_environment       = "${anno_dir}/R/kegg_environment.rds"
  promoters_bed          = "${anno_dir}/R/promoters.bed"
  
  pwms_motifs            = "${specie_dir}/homer_data/homer_motifs.txt"
  homer_genome           = "${specie_dir}/homer_data/genomes/${genome_assembly_nickname}"
  encode_chip_files      = "${specie_dir}/CHIP"
  chip_ontology_groups   = "${specie_dir}/CHIP/chip_ontology_groups.tsv"
  chromatin_state_1      = "${specie_dir}/chromatin_states/${params.chromatin_state}"
}

// note: the parameter "params.chromatin_state" should be defined in the run.config file
