
cactus_version = "15.08.22"

manifest {
    name            = 'jsalignon/cactus'
    author          = 'Jerome Salignon'
    homePage        = 'https://github.com/jsalignon/cactus'
    description     = 'Cactus (Chromatin Accessibility and Transcriptomics Unification Software) is an open-source analysis pipeline for analyzing ATAC-Seq and mRNA-Seq data'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.04.0'
    version         = cactus_version
}


//// global parameters
params.res_dir      =  "results/Cactus_v${cactus_version}"
params.pub_mode     = 'link'  

params.test_dataset = null


