
cactus_version = "15.08.22"

manifest {
    name            = 'Bioninbo/cactus'
    author          = 'Salignon Jerome'
    homePage        = 'https://github.com/Bioninbo/cactus'
    description     = 'Cactus (Chromatin Accessibility and Transcriptomics Unification Software) is an open-source analysis pipeline for analyzing ATAC-Seq and mRNA-Seq data'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.05.0'
    version         = cactus_version
}


//// global parameters
cactus_dir        = "${HOME}/.nextflow/assets/jsalignon/cactus/"
params.res_dir    =  "results/Cactus_v${cactus_version}"
params.pub_mode   = 'link'  
resume            = true
cache             = 'deep'
tower_token       = ''


