
resume = true
cache  = 'deep'

nextflow.enable.dsl = 1

params.cactus_dir =  "/home/jersal/workspace/cactus"
singularity_dir = '/home/jersal/workspace/singularity_containers'

singularity {
  enabled = true
  autoMounts = true
  cacheDir = singularity_dir
  libraryDir = singularity_dir
  runOptions = "--containall --cleanenv --home ${PWD} --workdir ${params.cactus_dir}/tmp"
}

includeConfig '../conf/containers.config'
includeConfig    'conf/containers.config'

params.annotationhub_cache = '/home/jersal/workspace/cactus/data/util/annotationhub_cache'
