
nextflow.enable.dsl = 1
includeConfig "${HOME}/.cactus.config"
includeConfig "../conf/containers.config"

params {
  files {
      'worm' {
          reference_file = '36732768'
          reference_md5sums = '02a773854712f931cb3bfd5bccb6d85e'
          test_dataset_file = '36773603'
          test_dataset_md5sums = '8e40f60f2ea56d9ea89fb5c6d30f256d'
        }
      'fly' {
          reference_file = '36750641'
          reference_md5sums = 'b764ce163e063ff894f6587250dc3ada'
          test_dataset_file = '36750653'
          test_dataset_md5sums = 'c7f1babaae15c15adaab85b03723845d'
        }
      'mouse' {
          reference_file = '36750740'
          reference_md5sums = '09bada7f571bb637626b03c5b8137155'
          test_dataset_file = '36773822'
          test_dataset_md5sums = '069ae8cf86f371c0cb7734f2859ed761'
        }
      'human' {
          reference_file = '36779849'
          reference_md5sums = '4d5201c31035be523a6a4353659cb642'
          test_dataset_file = '36751242'
          test_dataset_md5sums = 'd9ee77a5fadb75fbf5181be8c53278cc'
        }
      }
    }

specie = params.specie
params.reference_file = params.files[specie].reference_file
params.reference_md5sum =  params.files[specie].reference_md5sums
params.test_dataset_file = params.files[specie].test_dataset_file
params.test_dataset_md5sum =  params.files[specie].test_dataset_md5sums

resume = true
cache  = 'deep'
